*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: rgb(225,2232 , 243);
}
.top{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: rgb(31, 33, 53);
    align-items: center;
    padding: 0px 30px;
}
.logo{
    font-size: 25px;
    letter-spacing: 5;
    font-weight: 900;
    color: white;
    cursor: pointer;
} 
.logo a{
    text-decoration: none;
    color: white;
}



.navbar a{
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}
.navbar a:hover{
    color: orange;
    text-decoration: underline;
    text-underline-position: under;
}

.mobileview{
    display: none;

}
@media screen and (max-width:600px){
    .navbar{
        display: none;
        position: absolute;
        top: 100px;
        background-color: rgb(33, 34, 53,0.9);
        height: 500px;
        left: 0;
        right: 0;
        flex-direction: column;
        padding-left: 20px;
    }
    .navbar a::before{
        content: '\f192';
        font-size: 15px;
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        color: orange;
        padding-right: 10px;
    }
    .mobileview{
        display: block;
    
    }
     input[type="checkbox"]{
        -webkit-appearance: none;
        font-size: 18px;
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type="checkbox"]::before{
        content: '\f0c9';
        font-size: 25px;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;

    }
    input[type="checkbox"]:checked:before{
        content: '\f00d';
        font-size: 25px;
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
    }
}

/* Footer starts here  */
.Footer{
    background-color: #141718;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.footer_top{
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    font-size: 18px;
    background-color: #141718;
    flex-wrap: wrap;
 
}

.call, .email, .location{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_top .fa-solid{
    font-size: 30px;
    margin: 20px;
    background-color: red;
    padding: 20px;
    border-radius: 100px;
    color: white;
}

/* horizontal line  */

hr{
    width: 90%;
    border: 1px solid #5b5f63;
    margin-top: 40px;
}

/* Middle Footer  */

.Middle_Footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #141718;
    color: #5b5f63;
    flex-wrap: wrap;
}

.searchbox{
    display: flex;
    width: 215px;
    background-color: white;
    align-items: center;
    height: 50px;
}

input[type="email"]{
    color: black;
    border: none;
    outline: none;

}

.searchbox , .fa-solid{
    color: red;
    font-size: 30px;
}

.Middle_Footer h3{
    color: white;
}
/* Remove bullet points from li tags */
.Middle_Footer li {
    list-style: none;
}
li:hover{
    color: red;
    cursor: pointer;
}

/* Footer_bottom  */

.Footer_bottom{
    background-color: #1b2024;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    color: #5b5f63;
}

.fa-brands{
    padding: 10px;
    border: 2px solid #5b5f63;
    border-radius: 100px;
    margin: 10px;
    font-size: 20px;
    color: #5b5f63;
}
.fa-brands:hover{
    color: red;
    border-color: red;
}
/* .fa-facebook{
    padding: 10px 13px 10px 13px;
} */

/* footer ends here  */


/* about section starts here  */

.about-section {
    background-color: #f1f1f1; /* Match the background color of the header and footer */
    padding: 50px; /* Add some padding to the section */
    text-align: center; /* Center-align the content */
    height: 30vh;
}

.about-section h2 {
    font-size: 24px; /* Set the font size for the heading */
    color: #333; /* Set the text color */
    margin-bottom: 20px; /* Add some space below the heading */
}

.about-section p {
    font-size: 18px; /* Set the font size for the paragraphs */
    color: #555; /* Set the text color */
    line-height: 1.6; /* Increase the line height for better readability */
}


/* about section ends  here  */




/* cover section css starts */
.cover-section {
    background-size: contain; /* Change from 'cover' to 'contain' */
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black; 
    overflow: hidden; /* Prevents overflow */
}

.cover-text {
    /* max-width: 700px;  */
    max-width: 150vh; 
}

.cover-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cover-text p {
    font-size: 1.2rem;
}
/* cover section css ends  */

/* cover section css ends  */

/* Services Section starts */
.services-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.services-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #d7dafd;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    max-width: 300px;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-icon {
    font-size: 40px;
    color: #333;
    margin-bottom: 20px;
}

.service-card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 16px;
    color: #555;
}

/* Responsive */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 100%;
    }
}
/* services css ends  */

/* product section css starts  */

/* Product Section */
/* Product Section */
.product-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.product-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card {
    background-color: #bee9fd; /* Blue color */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    max-width: 300px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    flex: 1 1 calc(33.33% - 20px);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 16px;
    color: #555;
}

/* Background Colors */
.blue-bg {
    background-color: #bee9fd; /* Blue color */
}

.pink-bg {
    background-color: #ffe3f3; /* Pink color */
}

.orange-bg {
    background-color: #fddcb1; /* Orange color */
}

/* Animation */
.product-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 150%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: skewX(45deg);
    transition: all 0.3s ease;
}

.product-card:hover::after {
    left: 150%;
}

/* Responsive */
@media (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product-card {
        flex: 1 1 calc(100% - 20px);
        margin-bottom: 20px;
    }
}

/* product section css ends  */

/* Contact Section */
.contact-section {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

.contact-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #555;
}

/* Google Maps Embed Container */

.map-container {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    padding-top: 56.25%; /* Aspect ratio 16:9 */
    height: 0; /* Set initial height to 0 */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Set iframe height to 100% */
    border: 0;
}

/* contact section css ends  */


/* testimonial section css starts  */
.testimonial-section {
    text-align: center;
    padding: 50px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
}

.testimonial {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.testimonial.active {
    opacity: 1;
}

.testimonial img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.stars {
    margin-bottom: 10px;
}

.star {
    color: gold;
    font-size: 20px;
}

.review {
    margin-bottom: 20px;
    font-style: italic;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation button:hover {
    background-color: #555;
}



/* testimonial section css ends */


/* photo gallery section css starts */
.photo-gallery {
    text-align: center;
    padding: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    margin-top: 20px; /* Add space above the gallery div */
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

.photo-gallery h2 {
    margin-bottom: 20px; /* Add space below the h2 element */
}



.gallery img:hover {
    opacity: 0.7;
}


